.devices__content {
    border-bottom: 8px solid $border-gray;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      padding: 4rem 1rem;
  
      h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
     }

     .left {
      width: 100%;
      max-width: 600px;
     }
  
     p {
        font-size: 1.5rem;
   
     }
    }

    @media (max-width: 1200px) {
      .container {
         h3 {
            font-size: 2rem;
         }
         p {
            font-size: 1.2rem;
         }
      } 
    }

    @media (max-width: 990px) {
      .container {
         flex-direction: column;
         text-align: center;
         padding: 2rem 1rem;
        
      }
    }
}