@font-face {
    font-family: 'Segoe UI';
    src: url(../font/Segoe-UI.ttf) format("truetype");
}
@font-face {
    font-family: 'Segoe UI';
    src: url(../font/Segoe-UI-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Segoe UI';
    src: url(../font/Segoe-UI-Bold-Italic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Segoe UI';
    src: url(../font/Segoe-UI-Italic.ttf) format("truetype");
    font-style: italic;
}
